<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/nav'); %>
<main>
    <div class="notfoundcontainer">
        <img src="/images/404png.png" alt="">

        <a href="/" class="btn404home">Volver al inicio</a>
    </div>

    
    
</main>

    <%- include('./partials/footer'); %>


    <%- include('./partials/scripts'); %>

</body>

</html>