<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/nav'); %>
    <main>
        <div class="banner">
            <img src="/images/banner-calidad.jpg" alt="">
        </div>

        <div class="article_content">





            <div class="introText">
                <p><img src="/images/titulo-calidad.png" alt=""></p>
                <p><span style="font-size: 12pt;"><strong>Juntas CICCARELLI</strong> totalmente comprometida con la
                        excelencia está certificada con ISO9001/2008&nbsp; y realiza permanentemente auditorías internas
                        y externas de procesos y de productos a fin de garantizar la seguridad y eficiencia de los
                        procesos de producción.</span><br><br><span style="font-size: 12pt;">A su vez realizamos
                        auditorias en nuestros proveedores para garantizar la calidad de nuestros productos desde su
                        inicio.</span><br><br><span style="font-size: 12pt;">Adopción de tecnologías de fabricación y
                        control de la producción más avanzadas y apropiadas cada proceso.</span><br><br><span
                        style="font-size: 12pt;">Contamos con un proceso de mejora continua de la calidad de nuestros
                        productos y procesos, que orientamos a obtener “cero defectos”, debido al constante esfuerzo en
                        investigación, desarrollo&nbsp; e innovación.</span><br><br></p>
                <p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/calidad3.png"
                        alt=""></p>
            </div>

        </div>


    </main>

    <%- include('./partials/footer'); %>


    <%- include('./partials/scripts'); %>

</body>

</html>