<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/nav'); %>
    <main>
        <div class="banner">
            <img src="/images/banner-calidad.jpg" alt="">
        </div>

        <div class="article_content">


            <div class="introText">
                <p><img src="/images/titulo-calidad.png" alt=""></p>
                <p>
                    <span style="font-size: 12pt;">
                        <strong>Juntas Ciccarelli</strong> está totalmente comprometida con la
                        excelencia está certificada con ISO9001/2008 y realiza permanentemente auditorías internas
                        y externas de procesos y de productos a fin de garantizar la seguridad y eficiencia de los
                        procesos de producción.</span>
                        <br>
                        <span style="font-size: 12pt;">A su vez realizamos
                        auditorias en nuestros proveedores para garantizar la calidad de nuestros productos desde su
                        inicio.</span>
                        <span style="font-size: 12pt;">Adopción de tecnologías de fabricación y
                        control de la producción más avanzadas y apropiadas cada proceso.</span><br><span
                        style="font-size: 12pt;">Contamos con un proceso de mejora continua de la calidad de nuestros
                        productos y procesos, que orientamos a obtener “cero defectos”, debido al constante esfuerzo en
                        investigación, desarrollo&nbsp; e innovación.</span>
                
                        </p>
           

                        <div class="imgcalidadcontainer">
                            <div>
                                <img class="certifiedimg" src="/images/iso6.png" alt="">
                            </div>
                            <div>
                                <img class="certifiedimg1" src="/images/calidad3.png" alt="">
                            </div>
                        </div>
            </div>

        </div>


    </main>

    <%- include('./partials/footer'); %>


    <%- include('./partials/scripts'); %>

</body>

</html>