<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/nav'); %>



    <main>

        <div class="banner">
            <img src="/images/banner-competicion.jpg" alt="">
        </div>

        <section class="col-md-12 visible-xs visible-sm visible-md visible-lg">
            <div id="system-message-container">
                <div id="system-message">
                </div>
            </div>
            <section id="component" class="">
                <section class=" visible-xs visible-sm visible-md visible-lg">
                    <section class="row">
                        <section id="component-inner" class="col-md-12 visible-xs visible-sm visible-md visible-lg">
                            <div class="item-page">



                                <div class="article_content">

                                    <div class="introText">
                                        <p><img src="/images/titulo-competicion.png" alt=""></p>
                                        <div class="leading-0 clearfix">
                                            <div class="row zt-services">
                                                <div class="col-md-6 col-sm-3 wow fadeInLeftBig" data-wow-delay="0.5s"
                                                    data-wow-duration="0.5s">
                                                    <div class="module">
                                                        <p class="des" style="text-align: justify;"><span
                                                                style="font-size: 12pt;">Juntas Ciccarelli a la
                                                                vanguardia en el desarrollo de juntas para competición.
                                                                Confían en nosotros los más prestigiosos preparadores de
                                                                TC2000 - Top Race - Turismo Carretera - 1/4 de Milla -
                                                                TN</span></p>
                                                        <p class="des" style="text-align: justify;"><a
                                                                href="/images/catalogo.pdf" target="_blank"><img
                                                                    src="/images/pdf.png" alt=""></a></p>
                                                        <p class="des" style="text-align: justify;">&nbsp;</p>
                                                        <p class="des" style="text-align: justify;"><img
                                                                src="/images/agua3.jpg" alt=""></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-3 wow fadeInLeftBig">
                                                    <div class="module">
                                                        <!-- La imagen se veia fea y un poco vieja para la pagina asi que la saque pero esta en los archivos la foto
                                                        hay que borrarle una t al src de la img, o sea compet -->
                                                        <p class="des"><img src="/images/compett.png" alt=""></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h1>Videos</h1>
                                        <div class="leading-0 clearfix">
                                            <div class="row zt-services">
                                                <div class="col-md-4 col-sm-3 wow fadeInLeftBig" data-wow-delay="0.5s"
                                                    data-wow-duration="0.5s"><iframe width="340" height="210"
                                                        src="https://www.youtube.com/embed/ttucOcaVIiU?feature=player_detailpage"
                                                        frameborder="0" allowfullscreen=""></iframe></div>
                                                <div class="col-md-4 col-sm-3 wow fadeInLeftBig" data-wow-delay="0.5s"
                                                    data-wow-duration="0.5s"><iframe width="340" height="210"
                                                        src="https://www.youtube.com/embed/cM7S1SefzpQ?feature=player_detailpage"
                                                        frameborder="0" allowfullscreen=""></iframe></div>
                                                <div class="col-md-4 col-sm-3 wow fadeInLeftBig" data-wow-delay="0.5s"
                                                    data-wow-duration="0.5s"><iframe width="340" height="210"
                                                        src="https://www.youtube.com/embed/SSRVCm9EHg4?feature=player_detailpage"
                                                        frameborder="0" allowfullscreen=""></iframe>
                                                    <div class="module"><br><a
                                                            href="https://www.youtube.com/user/JuntasCiccarelli"
                                                            target="_blank"><img src="/images/iconoyoutube.png"
                                                                alt=""></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--article_content-->

                            </div>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </main>

    <%- include('./partials/footer'); %>


    <%- include('./partials/scripts'); %>

</body>

</html>