<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/nav'); %>
<main>

 <div class="dashboardcontainer">
     <div>
         <h3>Admin - Juntas Cicarelli</h3>
     </div>

     <div class="btnadmin">
        <a href="/admin/crear/noticia">Crear nueva Noticia</a>
     </div>

 </div>


    
</main>

    <%- include('./partials/footer'); %>


    <%- include('./partials/scripts'); %>

</body>

</html>