<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/nav'); %>
<main>
    <h3>Distribuidores</h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sunt voluptatibus eum optio iure accusamus odit sit delectus repellendus. Unde assumenda tempora omnis molestias nobis odit deserunt vitae officiis nihil.
    Unde fuga architecto, mollitia saepe perferendis repellendus id sequi nihil facere numquam, sit et error quas. Debitis, repellat vel aut soluta accusantium nesciunt similique iusto, qui mollitia animi voluptate atque.
    Quaerat repudiandae quo similique modi facere consectetur molestiae temporibus possimus? Cum exercitationem asperiores deserunt hic rerum voluptate nisi ea beatae facere nihil fugit, accusantium sed provident. Necessitatibus ipsa possimus esse!
    Tempore magnam similique obcaecati! Reprehenderit doloribus minus dolorum voluptate, dolor qui ut aut in obcaecati laudantium quis praesentium dignissimos! Sed ab magni inventore reprehenderit officiis odio commodi modi ducimus hic.
    Corrupti amet praesentium ab doloribus. Modi fugit voluptate architecto magnam sed iusto vero, velit veritatis laboriosam eos consequuntur non expedita dolore voluptatum quasi. Autem veritatis error omnis! Eos, nisi consectetur!
    Deserunt sapiente explicabo, nihil, consequatur magnam sequi cumque corporis dolores totam quos quam, animi expedita. Officia sint, quis veritatis, quasi provident iusto, dignissimos dolores aliquid dolorum voluptates sequi illum suscipit.
    Animi possimus fugit, molestiae earum rerum est aliquam autem, labore ipsum, quaerat temporibus? Cupiditate et alias iste asperiores, inventore voluptate eligendi est deleniti aliquam id vero. In nemo accusantium quo!
    Doloribus libero repudiandae tempora at inventore totam quos nesciunt numquam dolores, dolorum debitis omnis quas sapiente, aspernatur fuga. Facere eveniet quo repellendus magni sit, quibusdam dignissimos nulla laudantium amet ut?
    Et expedita accusantium quae laboriosam. Eos ducimus cumque maxime odit totam, incidunt quas labore, ipsum ullam ab dolore ad expedita, delectus aut. Nulla deserunt quis cumque numquam mollitia molestias distinctio.
    Expedita mollitia rem, repellendus blanditiis praesentium asperiores voluptatum nobis nulla laboriosam quibusdam culpa molestiae optio iure consequatur suscipit laudantium, veritatis sint commodi voluptas id. Non temporibus enim ut adipisci vitae!
</main>

    <%- include('./partials/footer'); %>


    <%- include('./partials/scripts'); %>

</body>

</html>