<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/nav'); %>

<main>

    <div class="banner">
        <img src="/images/banner-exportacion.jpg" alt="">
    </div>

    <div class="introText">
        <p><img src="/images/titulo-expor.png" alt=""></p>
<p><span style="font-size: 12pt;"><strong>Juntas Ciccarelli</strong> está considerada hoy en día, una de las principales empresas fabricante de Juntas en la República Argentina, y exporta sus productos a más de 30 países alrededor del mundo. Esto es fruto de una trayectoria de casi 80 años en el mercado, sumado a un equipo de profesionales que día a día se esfuerzan para mejorar tanto la calidad como el servicio, trabajando bajo normas internacionales y con tecnología de primer nivel.</span><br><br><span style="font-size: 12pt;">La búsqueda constante de nuevos mercados realizada por nuestro departamento de Comercio Exterior hace nuestra marca cada día más reconocida, y que esté presente permanentemente en los principales mercados mundiales.</span><br><br><span style="font-size: 12pt;">El crecimiento a nivel mundial, basado en la calidad y la mejora en la relación costo-beneficio de nuestros productos, son objetivos primordiales de Juntas Ciccarelli SRL.</span></p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/mapa.jpg" alt=""></p>                </div>
    
</main>

    <%- include('./partials/footer'); %>


    <%- include('./partials/scripts'); %>

</body>

</html>