<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

    <body>
        <%- include('./partials/header'); %>
            <%- include('./partials/nav'); %>
                <!-- whatsapp -->
                <!-- 
<a href="https://api.whatsapp.com/send?phone=+5491168661379" class="btn-wsp" target="_blank">
  <i class="fa-brands fa-whatsapp"></i>
</a>
 -->
                <main>
                    <!-- Video inicial -->
                    <section class="showcase">
                        <video src="/images/homevideo.mp4" muted="" loop="" autoplay="" poster="/images/homevideoposter.webp"></video>

                        <div class="text">
                            <!-- <h1 class="f1 am">Juntas Ciccarelli</h2> -->
                            <h2 class="f1 bc">85 AÑOS DE CALIDAD</h2>
                            <p class="f2 pvideo fwm fsi">Líder en Soluciones de Juntas de Motor, con la mejor calidad y rentabilidad del mercado.</p>

                            <div>
                                <a target="_blank" href="http://ecommerce.ciccarelli.com.ar/catalogo?">
                                    <button class="btn btn--light">
              <span class="btn__inner">
                <span class="btn__slide"></span>
                <span class="btn__content">Ver catálogo</span>
              </span>
            </button>
                                </a>
                                <!-- <a href="#catalogospdf" style="text-align: center;"> Catálogos PDF </a> -->
                            </div>
                        </div>
                        <div class="gradtoblue" style="width: 100%;height: 100px;bottom: 0;"></div>

                    </section>

                    <!-- Section / Newsletters -->
                    <section class="newsletters">
                        <div class="newsletterscontainer faz pr">
                            <h2 class="titlenewsletter sectitle f2 fwxl am fup">Nuevos Lanzamientos</h2>

                            <div class="cardscontainer">
                                <% producto.forEach(producto => { %>

                                    <div class="newsletterscards" style="margin: 30px 10px;">
                                        <a class="cardproductsA" href="/productos/<%= producto.id %>/">

                                            <div class="containerimg">
                                                <img src="/images/productos/<%= producto.image %> " alt="">
                                            </div>
                                            <span class="titlecard f3 az fwxb"><%= producto.nombre %></span>
                                            <div class="textproducts">
                                                <!-- <span><%= producto.marca %> </span>
                   <span><%= producto.modelo %> </span>
                   <span><%= producto.motor %> </span>
                   <span><%= producto.cilindradas %> </span>
                   <span><%= producto.piezas %> </span> -->
                                            </div>
                                        </a>

                                    </div>

                                    <% }) %>

                                        <!--  <div class="newsletterscards" style="margin: 30px 10px;">
            <div class="containerimg">
              <img src="/images/news1.jpg" alt="">
            </div>
            <span class="titlecard f3 az fwxb">Honda-Civic</span>
            <small>Junta Tapa de Cilindro</small>
          </div>

          <div class="newsletterscards" style="margin: 30px 10px;">
            <div class="containerimg">
              <img src="/images/news2.jpg" alt="">
            </div>
            <span class="titlecard f3 az fwxb">Honda-Civic</span>
            <small>Junta Tapa de Cilindro</small>
          </div>

          <div class="newsletterscards" style="margin: 30px 10px;">
            <div class="containerimg">
              <img src="/images/news3.jpg" alt="">
            </div>
            <span class="titlecard f3 az fwxb">Honda-Civic</span>
            <small>Junta Tapa de Cilindro</small>
          </div> -->
                            </div>

                            <div class="titlenewsletter">
                                <h2><a href="/newsletters">Ver newsletters</a></h2>
                            </div>

                        </div>


                    </section>

                    <!-- Section carousel Oculta
    <section class="carousel" style="position: relative; display: none;">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/images/a3.jpg" alt="">      
            <div class="gradtoblue" style="width: 100%;height: 100%;bottom: 0;"></div>
            <div class="textleft pab" style="padding:100px 20% 30px 30px;" >

                <h2 class="f1 am faz" style="line-height: 1.4;display: inline;padding: 0.2rem 0.7rem;opacity: 0.9;">85 AÑOS DE CALIDAD <br> Y EL MEJOR SERVICIO</h2>
                <p class="f2 fwxb bc "style="font-size: 24px;text-align: left;color: white;margin-top: 10px;line-height: 1.1;text-shadow: 5px 4px 10px black;">Líder en Soluciones de Autopartes 
                  de Motor, con la mejor rentabilidad.</p>
                  <a class="cattitle fwsb" href="#" >
                    <span >Ver mas..</span>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <img src="/images/a2.jpg" alt="">
                <div class="gradtoblue" style="width: 100%;height: 100%;bottom: 0;"></div>
                <div class="textleft pab" style="padding:100px 20% 30px 30px;" >
                    <h2 class="f1 am faz" style="line-height: 1.4;display: inline;padding: 0.2rem 0.7rem;opacity: 0.9;">85 AÑOS DE CALIDAD Y EL MEJOR SERVICIO</h2>
                    <p class="f2 fwxb bc "style="font-size: 24px;text-align: left;color: white;margin-top: 10px;line-height: 1.1;text-shadow: 5px 4px 10px black;">Líder en Soluciones de Autopartes 
                      de Motor, con la mejor rentabilidad.</p>
                      <a class="cattitle fwsb" href="#" >
                        <span >Ver mas..</span>
                      </a>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="/images/a1.jpg" alt="">
                    <div class="gradtoblue" style="width: 100%;height: 100%;bottom: 0;"></div>
                    <div class="textleft pab" style="padding:100px 20% 30px 30px;" >
              <h2 class="f1 am faz" style="line-height: 1.4;display: inline;padding: 0.2rem 0.7rem;opacity: 0.9;">85 AÑOS DE CALIDAD Y EL MEJOR SERVICIO</h2>
              <p class="f2 fwxb bc "style="font-size: 24px;text-align: left;color: white;margin-top: 10px;line-height: 1.1;text-shadow: 5px 4px 10px black;">Líder en Soluciones de Autopartes 
                de Motor, con la mejor rentabilidad.</p>
                <a class="cattitle fwsb" href="#" >
                  <span >Ver mas..</span>
                </a>
            </div>
          </div>
          
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="gradtoblue" style="width: 100%;height: 100px;top: 0;transform:rotate(180deg);z-index: 10;"></div>

    </section>
     -->

                    <!-- Section productos -->
                    <section class="section_productos">
                        <div class="textproductos">
                            <h2>CONOCE LA LÍNEA <br> CICCARELLI
                            </h2>
                            <!--         <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, distinctio rem, tempora accusantium repudiandae ea officia odio fugiat porro vel laudantium labore quae libero! Quod obcaecati repellat eum aut dicta.</span>
 --><a class="hovexpand" href="/productos">Ver Productos</a>
                        </div>
                        <div class="containerimg">
                            <img class="hovexpand" src="/images/prodscica.webp" alt="">
                        </div>
                        <a class="hovexpand bb" href="/productos">Ver Productos</a>
                    </section>

                    <!-- Section catalogos PDF -->
                    <section id="catalogospdf" class="catalogoshome">

                        <div class="cat_title">
                            <h2>CATÁLOGOS COMPLETOS</h2>
                        </div>

                        <div class="containercatalogos">


                            <div class="catalogospdf hovexpand">
                                <a href="https://drive.google.com/file/d/1OdLQgGZOEvFySCjy1hQHnNyS94ZbgaHa/view?usp=sharing" target="_blank">
                                    <div class="catcontainerimg">
                                        <img src="/images/catalogo-pesado.webp" alt="">
                                    </div>
                                    <div class="cattitle">
                                        <span>Línea pesada </span>
                                    </div>
                                </a>
                            </div>

                            <div class="catalogospdf hovexpand">
                                <a href="https://drive.google.com/file/d/16vjXKcbSQMcfvbZvQmEhSSIIuniEE43o/view?usp=sharing" target="_blank">
                                    <div class="catcontainerimg">
                                        <img src="/images/catliviano.webp" alt="">
                                    </div>
                                    <div class="cattitle">
                                        <span>Línea liviana</span>
                                    </div>
                                </a>
                            </div>

                            <div class="catalogospdf hovexpand">
                                <a href="https://drive.google.com/file/d/1_rox7ivLOUH_sFQ3O9m5Y8tx3qL2ZPBD/view?usp=sharing" target="_blank">
                                    <div class="catcontainerimg">
                                        <img src="/images/catalogo-competicion.webp" alt="">
                                    </div>
                                    <div class="cattitle">
                                        <span>Competición</span>
                                    </div>
                                </a>
                            </div>

                            <div class="catalogospdf hovexpand">
                                <a href="https://drive.google.com/file/d/1eEoHumKPmQK92_N5kyIjDWp01hRUBz-W/view?usp=sharing" target="_blank">
                                    <div class="catcontainerimg">
                                        <img src="/images/Catalogo-Compresores.webp" alt="">
                                    </div>
                                    <div class="cattitle">
                                        <span>Compresores</span>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </section>

                </main>

                <%- include('./partials/footer'); %>


                    <%- include('./partials/scripts'); %>

    </body>

</html>