<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
  <%- include('./partials/header'); %>
  <%- include('./partials/nav'); %>

  <main>
    <!-- Video inicial -->
    <section class="showcase">

      <video src="/images/ciccarelli.mp4" muted="" loop="" autoplay=""></video>

      <div class="text">
        <h2>Juntas Ciccarelli</h2>
        <h3>85 años de calidd</h3>
        <p class="pvideo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo deserunt ea ullam optio, sequi laboriosam
          tempora autem placeat incidunt iste mollitia totam necessitatibus nostrum dignissimos sint accusantium labore,
          dolor omnis.</p>

        <div><a href="ciccarelli.com.ar">
            <button class="btn btn--light">
              <span class="btn__inner">
                <span class="btn__slide"></span>
                <span class="btn__content">Ver catálogo</span>
              </span>
            </button>
          </a>
        </div>
      </div>

    </section>

    <!-- Section / Newsletters -->
    <section class="newsletters">
      <div class="newsletterscontainer">
        <h2 class="titlenewsletter">Mira lo nuevo!</h2>

        <div class="cardscontainer">

          <div class="newsletterscards">
            <div class="containerimg">
              <img src="/images/Captura.PNG" alt="">
            </div>
            <span class="titlecard">Honda-Civic</span>
            <small>Junta Tapa de Cilindro</small>
          </div>

          <div class="newsletterscards">
            <div class="containerimg">
              <img src="/images/captura1.PNG" alt="">
            </div>
            <span class="titlecard">Honda-Civic</span>
            <small>Junta Tapa de Cilindro</small>
          </div>

          <div class="newsletterscards">
            <div class="containerimg">
              <img src="/images/captura2.PNG" alt="">
            </div>
            <span class="titlecard">Honda-Civic</span>
            <small>Junta Tapa de Cilindro</small>
          </div>
        </div>

        <div class="titlenewsletter">
          <h2><a href="#">Ver newsletters</a></h2>
        </div>

      </div>


    </section>

    <!-- Section carousel -->
    <section class="carousel">
      <!-- Carousel / Colocar respectivos PNG aca -->
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="/images/a3.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/images/a2.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/images/a1.jpg" alt=""></div>
          
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </section>

    <!-- Section productos -->
    <section class="section_productos">
      <div class="textproductos">
        <h2>CALIDAD CICCARELLI</h2>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, distinctio rem, tempora accusantium repudiandae ea officia odio fugiat porro vel laudantium labore quae libero! Quod obcaecati repellat eum aut dicta.</span>
        <a href="/productos">Productos</a>
      </div>
      <div class="containerimg">
        <img src="/images/prodscica.PNG" alt="">
      </div>
    </section>
  
    <!-- Section catalogos PDF -->
    <section class="catalogoshome">

      <div class="cat_title">
        <h2>Catalogos completos</h2>
      </div>

      <div class="containercatalogos">
        

        <div class="catalogospdf">
          <a href="">
          <div class="catcontainerimg">
            <img src="/images/catalogo-pesado.jpg" alt="">
          </div>
          <div class="cattitle">
            <span>Full pesado</span>
          </div>
        </a>
        </div>

        <div class="catalogospdf">
          <a href="">
          <div class="catcontainerimg">
            <img src="/images/catliviano.jpg" alt="">
          </div>
          <div class="cattitle">
            <span>Full liviano</span>
          </div>
        </a>
        </div>

        <div class="catalogospdf">
          <a href="">
          <div class="catcontainerimg">
            <img src="/images/catalogo-competicion.jpg" alt="">
          </div>
          <div class="cattitle">
            <span>Competicion</span>
          </div>
        </a>
        </div>

        <div class="catalogospdf">
          <a href="">
          <div class="catcontainerimg">
            <img src="/images/Catalogo-Compresores.jpg" alt="">
          </div>
          <div class="cattitle">
            <span>Comprensores y turbo</span>
          </div>
        </a>
        </div>

      </div>
    </section>

  </main>

  <%- include('./partials/footer'); %>


  <%- include('./partials/scripts'); %>

</body>

</html>