<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
  <%- include('./partials/header'); %>
  <%- include('./partials/nav'); %>

  <main>
    <!-- Video inicial -->
    <section class="showcase">

      <video src="/images/ciccarelli.mp4" muted="" loop="" autoplay=""></video>

      <div class="text" >
        <!-- <h1 class="f1 am">Juntas Ciccarelli</h2> -->
        <h2 class="f1 bc">85 AÑOS DE CALIDAD</h2>
        <p class="f2 pvideo fwm fsi">Líder en Soluciones de Autopartes 
          de Motor, con la mejor rentabilidad.</p>

        <div><a href="ciccarelli.com.ar">
            <button class="btn btn--light">
              <span class="btn__inner">
                <span class="btn__slide"></span>
                <span class="btn__content">Ver catálogo</span>
              </span>
            </button>
          </a>
        </div>
      </div>
      <div class="gradtoblue" style="width: 100%;height: 100px;bottom: 0;"></div>

    </section>

    <!-- Section / Newsletters -->
    <section class="newsletters">
      <div class="newsletterscontainer faz pr">
          <h2 class="titlenewsletter sectitle f2 fwxl am fup">Próximos Lanzamientos</h2>

        <div class="cardscontainer">

          <div class="newsletterscards" style="margin: 30px 10px;">
            <div class="containerimg">
              <img src="/images/news1.jpg" alt="">
            </div>
            <span class="titlecard f3 az fwxb">Honda-Civic</span>
            <small>Junta Tapa de Cilindro</small>
          </div>

          <div class="newsletterscards" style="margin: 30px 10px;">
            <div class="containerimg">
              <img src="/images/news2.jpg" alt="">
            </div>
            <span class="titlecard f3 az fwxb">Honda-Civic</span>
            <small>Junta Tapa de Cilindro</small>
          </div>

          <div class="newsletterscards" style="margin: 30px 10px;">
            <div class="containerimg">
              <img src="/images/news3.jpg" alt="">
            </div>
            <span class="titlecard f3 az fwxb">Honda-Civic</span>
            <small>Junta Tapa de Cilindro</small>
          </div>
        </div>

        <div class="titlenewsletter">
          <h2><a href="#">Ver newsletters</a></h2>
        </div>

      </div>


    </section>

    <!-- Section carousel -->
    <section class="carousel">
      <!-- Carousel / Colocar respectivos PNG aca -->
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/images/a3.jpg" alt="">
            <div class="text textleft" >
              <!-- <h1 class="f1 am">Juntas Ciccarelli</h2> -->
              <h2 class="f1 bc">85 AÑOS DE CALIDAD</h2>
              <p class="f2 pvideo fwm fsi">Líder en Soluciones de Autopartes 
                de Motor, con la mejor rentabilidad.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="/images/a2.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/images/a1.jpg" alt="">
          </div>
          
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="gradtoblue" style="width: 100%;height: 100px;top: 0;"></div>

    </section>

    <!-- Section productos -->
    <section class="section_productos">
      <div class="textproductos">
        <h2>CONOCE LA LINEA <br>
        CICCARELLI</h2>
<!--         <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, distinctio rem, tempora accusantium repudiandae ea officia odio fugiat porro vel laudantium labore quae libero! Quod obcaecati repellat eum aut dicta.</span>
 -->        <a href="/productos">Ver Productos</a>
      </div>
      <div class="containerimg">
        <img src="/images/prodscica.PNG" alt="">
      </div>
    </section>
  
    <!-- Section catalogos PDF -->
    <section class="catalogoshome">

      <div class="cat_title">
        <h2>Catalogos completos</h2>
      </div>

      <div class="containercatalogos">
        

        <div class="catalogospdf">
          <a href="">
          <div class="catcontainerimg">
            <img src="/images/catalogo-pesado.jpg" alt="">
          </div>
          <div class="cattitle">
            <span>Linea pesada </span>
          </div>
        </a>
        </div>

        <div class="catalogospdf">
          <a href="">
          <div class="catcontainerimg">
            <img src="/images/catliviano.jpg" alt="">
          </div>
          <div class="cattitle">
            <span>Linea liviana</span>
          </div>
        </a>
        </div>

        <div class="catalogospdf">
          <a href="">
          <div class="catcontainerimg">
            <img src="/images/catalogo-competicion.jpg" alt="">
          </div>
          <div class="cattitle">
            <span>Turbo</span>
          </div>
        </a>
        </div>

        <div class="catalogospdf">
          <a href="">
          <div class="catcontainerimg">
            <img src="/images/Catalogo-Compresores.jpg" alt="">
          </div>
          <div class="cattitle">
            <span>Noticias</span>
          </div>
        </a>
        </div>

      </div>
    </section>

  </main>

  <%- include('./partials/footer'); %>


  <%- include('./partials/scripts'); %>

</body>

</html>