<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

    <body>
        <%- include('./partials/header'); %>
            <%- include('./partials/nav'); %>
                <main>

                    <div class="banner">
                        <img src="/images/banner-juntas.jpg" alt="">
                    </div>

                    <div class="junstaspadre">
                        <div class="juntascontainer" id="sectionjuntasmls">
                            <div class="juntasdescription">
                                <div class="juntastext">
                                    <h3>Juntas MLS (Multy Layer Steel)</h3>
                                    <span>En la actualidad de los motores, el par del motor y la Potencia aumentan, y el consumo y sus emisiones disminuyen.
                             <br>
                             Las juntas de cabeza de cilindros se ven sometidas al stress y alta exigencia, debido a que las presiones de ignición son cada vez mayores, y la temperatura cada vez más altas.
                             <br>
                             Para solucionar estos problemas del motor, se ha creado las juntas de acero, llamadas MLS
                             (multy Layer Steel).
                             <br>
                             Estas juntas de cabeza de cilindro, constan de dos y cinco láminas de acero al carbono.
                             Estas láminas de acero contienen diferentes nervaduras y refuerzos de recubrimiento de elastómeros totales o parciales, lo cual mejoran y perfeccionan el sellado del motor.
                             <br>
                             Juntas Ciccarelli, fabricante líder en juntas MLS, a la vanguardia de la constante evolución del futuro de los motores de última generación.</span>
                                </div>
                                <div class="juntasimg">
                                    <img class="juntas4img" src="/images/Junta-MLS.webp" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="juntascontainer2" id="sectionjuntasnarso">
                            <div class="juntasdescription">
                                <div class="juntastext">
                                    <h3>Juntas Narso</h3>
                                    <span>La junta de tapa de cilindros proporciona un sellado estático de los pasajes de gases, líquido refrigerante, aceite lubricante y combustibles, en los motores de combustión interna, cajas de velocidades y transmisiones.
                             <br>
                            Gases y presiones que están en alrededor de 60Kg/cm2 en motores nafteros y en 158Kg/cm2 en motores diésel.
                            <br>
                            Debido a la presión efectuada en el montaje, el material se adapta y corrige de manera óptima las imperfecciones del block y de la tapa de cilindros, que junto con el coating de silicona garantiza el sellado perfecto.
                            <br>
                            Las motores de última generación, necesitan de la constante evolución de desarrollo de  juntas que resistan las altas presiones y temperaturas.
                            Juntas Ciccarelli tiene la solución para cada uno de estos problemas.</span>
                                </div>
                                <div class="juntasimg">
                                    <img class="juntas4img" src="/images/Junta-Fibra.webp" alt="">

                                </div>
                            </div>
                        </div>

                        <div class="juntascontainer" id="sectionretenes">
                            <div class="juntasdescription">
                                <div class="juntastext">
                                    <h3>Retenes</h3>
                                    <span>Los retenes tienen la función de sellar dos componentes mecánicos en  movimiento.
                            <br>
                            Los dos tipos más importantes de retenes son los de aceite usado en los elementos de rotación como árbol de levas y cigüeñales, y los de guía de válvulas que reducen el derrame de aceite de la tapa de cilindros para dentro de la cámara de combustión del motor.
                            <br>
                            El labio de sellado del retén de aceite es usualmente fabricado en elastómeros de acuerdo a especificación de la  montadora, y este, está en continuo contacto con el eje de rotación del motor.  Este labio es presionado sobre la superficie del  eje de rotación por medio de un aro de resorte que ajusta el labio.
                            <br>
                            Como resultado de la rotación, hay una brecha de sellado de aproximadamente 1um  en el borde del labio, lo cual permite que entre un poco de aceite y lubrique el labio del retén.</span>
                                </div>
                                <div class="juntasimg">
                                    <img class="juntas4img" src="/images/Junta-Reten.webp" alt="">

                                </div>
                            </div>
                        </div>

                        <div class="juntascontainer2" id="sectionformadoresdejuntas">
                            <div class="juntasdescription">
                                <div class="juntastext">
                                    <h3>Formadores de juntas</h3>
                                    <span>Sellador de siliconas monocomponente, de curado acético, de consistencia pastosa y tixotrópica que reacciona a temperatura ambiente en contacto con el aire, transformándose en un caucho elástico. Resistente al agua, aceites, glicoles y fluidos hidráulicos. Soporta una temperatura continua de -20ºC hasta 260ºC y discontinua HASTA 340ºC. Forma piel de 5 a 15 minutos y termina el curado entre 24 y 48hs (según espesor) dependiendo de la temperatura y humedad ambiente.
<br>
                            Excelente adherencia y propiedades mecánicas. Resistente a la compresión y a los factores climáticos y al envejecimiento (no pierde elasticidad).</span>
                                </div>
                                <div class="juntasimg">
                                    <img class="juntas4img" src="/images/Forma-Juntas.webp" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="juntascontainer" id="sectionlimpiamanos">
                            <div class="juntasdescription">
                                <div class="juntastext">
                                    <h3>Limpiamanos</h3>
                                    <span>La junta de tapa de cilindros proporciona un sellado estático de los pasajes de gases,
                             líquido
                             refrigerante, aceite lubricante y combustibles, en los motores de combustión interna, cajas
                             de
                             velocidades y transmisiones.
                             Gases y presiones que están en alrededor de 60Kg/cm2 en motores nafteros y en 158Kg/cm2 en
                             motores
                             diésel.
                             Debido a la presión efectuada en el montaje, el material se adapta y corrige de manera
                             óptima
                             las
                             imperfecciones del block y de la tapa de cilindros, que junto con el coating de silicona
                             garantiza
                             el sellado perfecto.

                             Las motores de última generación, necesitan de la constante evolución de desarrollo de
                             juntas
                             que
                             resistan las altas presiones y temperaturas.
                             Juntas Ciccarelli tiene la solución para cada uno de estos problemas.</span>
                                </div>
                                <div class="juntasimg">
                                    <img class="juntas4img" src="/images/Limpiamanos.webp" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                </main>

                <%- include('./partials/footer'); %>


                    <%- include('./partials/scripts'); %>

    </body>

</html>