<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/nav'); %>
    <main>

        <div class="banner">
            <img src="/images/banner-juntas.jpg" alt="">
        </div>

        <div class="junstaspadre">
             <div class="juntascontainer" id="sectionjuntas">
                 <div class="juntasdescription">
                     <div class="juntastext">
                         <h3>Juntas MLS (Multy Layer Steel)</h3>
                         <span>En la actualidad de los motores, el par del motor y la Potencia aumentan, y el consumo y
                             sus
                             emisiones
                             disminuyen.
                             <br>
                             Las juntas de cabeza de cilindros se ven sometidas al stress y alta exigencia, debido a que
                             las
                             presiones de ignición son cada vez mayores, y la temperatura cada vez más altas.
                             <br>
                             Para solucionar estos problemas del motor, se ha creado las juntas de acero, llamadas MLS
                             (multy
                             Layer
                             Steel).
                             <br>
                             Estas juntas de cabeza de cilindro, constan de dos y cinco láminas de acero al carbono.
                             Estas
                             láminas de
                             acero contienen diferentes nervaduras y refuerzos de recubrimiento de elastómeros totales o
                             parciales,
                             lo cual mejoran y perfeccionan el sellado del motor.
                             <br>
                             Juntas Ciccarelli, fabricante líder en juntas MLS, a la vanguardia de la constante
                             evolución del
                             futuro
                             de los motores de última generación.</span>
                     </div>
                     <div class="juntasimg">
                         <img class="juntas4img" src="/images/juntas-4.jpg" alt="">
                         <!-- <img src="/images/juntas-foto2.png" alt=""> -->
                     </div>
                 </div>
             </div>

             <div class="juntascontainer2" id="sectionjuntas">
                 <div class="juntasdescription">
                     <div class="juntastext">
                         <h3>Juntas Narso (Asbestos Free)</h3>
                         <span>La junta de tapa de cilindros proporciona un sellado estático de los pasajes de gases,
                             líquido
                             refrigerante, aceite lubricante y combustibles, en los motores de combustión interna, cajas
                             de
                             velocidades y transmisiones.
                             Gases y presiones que están en alrededor de 60Kg/cm2 en motores nafteros y en 158Kg/cm2 en
                             motores
                             diésel.
                             Debido a la presión efectuada en el montaje, el material se adapta y corrige de manera
                             óptima
                             las
                             imperfecciones del block y de la tapa de cilindros, que junto con el coating de silicona
                             garantiza
                             el sellado perfecto.

                             Las motores de última generación, necesitan de la constante evolución de desarrollo de
                             juntas
                             que
                             resistan las altas presiones y temperaturas.
                             Juntas Ciccarelli tiene la solución para cada uno de estos problemas.</span>
                     </div>
                     <div class="juntasimg">
                         <img class="juntas4img" src="/images/juntas-8.jpg" alt="">
                         <!--                   <img src="/images/juntas-foto3.jpg" alt="">
 -->
                     </div>
                 </div>
             </div>

             <div class="juntascontainer" id="sectionretenes">
                 <div class="juntasdescription">
                     <div class="juntastext">
                         <h3>Retenes</h3>
                         <span>La junta de tapa de cilindros proporciona un sellado estático de los pasajes de gases,
                             líquido
                             refrigerante, aceite lubricante y combustibles, en los motores de combustión interna, cajas
                             de
                             velocidades y transmisiones.
                             Gases y presiones que están en alrededor de 60Kg/cm2 en motores nafteros y en 158Kg/cm2 en
                             motores
                             diésel.
                             Debido a la presión efectuada en el montaje, el material se adapta y corrige de manera
                             óptima
                             las
                             imperfecciones del block y de la tapa de cilindros, que junto con el coating de silicona
                             garantiza
                             el sellado perfecto.

                             Las motores de última generación, necesitan de la constante evolución de desarrollo de
                             juntas
                             que
                             resistan las altas presiones y temperaturas.
                             Juntas Ciccarelli tiene la solución para cada uno de estos problemas.</span>
                     </div>
                     <div class="juntasimg">
                         <img class="juntas4img" src="/images/juntas-8.jpg" alt="">
                         <!--                   <img src="/images/juntas-foto3.jpg" alt="">
 -->
                     </div>
                 </div>
             </div>

             <div class="juntascontainer2" id="sectionselladores">
                 <div class="juntasdescription">
                     <div class="juntastext">
                         <h3>Selladores</h3>
                         <span>La junta de tapa de cilindros proporciona un sellado estático de los pasajes de gases,
                             líquido
                             refrigerante, aceite lubricante y combustibles, en los motores de combustión interna, cajas
                             de
                             velocidades y transmisiones.
                             Gases y presiones que están en alrededor de 60Kg/cm2 en motores nafteros y en 158Kg/cm2 en
                             motores
                             diésel.
                             Debido a la presión efectuada en el montaje, el material se adapta y corrige de manera
                             óptima
                             las
                             imperfecciones del block y de la tapa de cilindros, que junto con el coating de silicona
                             garantiza
                             el sellado perfecto.

                             Las motores de última generación, necesitan de la constante evolución de desarrollo de
                             juntas
                             que
                             resistan las altas presiones y temperaturas.
                             Juntas Ciccarelli tiene la solución para cada uno de estos problemas.</span>
                     </div>
                     <div class="juntasimg">
                         <img class="juntas4img" src="/images/juntas-8.jpg" alt="">
                         <!--                   <img src="/images/juntas-foto3.jpg" alt="">
 -->
                     </div>
                 </div>
             </div>

             <div class="juntascontainer" id="sectionlimpiamanos">
                 <div class="juntasdescription">
                     <div class="juntastext">
                         <h3>Limpiamanos</h3>
                         <span>La junta de tapa de cilindros proporciona un sellado estático de los pasajes de gases,
                             líquido
                             refrigerante, aceite lubricante y combustibles, en los motores de combustión interna, cajas
                             de
                             velocidades y transmisiones.
                             Gases y presiones que están en alrededor de 60Kg/cm2 en motores nafteros y en 158Kg/cm2 en
                             motores
                             diésel.
                             Debido a la presión efectuada en el montaje, el material se adapta y corrige de manera
                             óptima
                             las
                             imperfecciones del block y de la tapa de cilindros, que junto con el coating de silicona
                             garantiza
                             el sellado perfecto.

                             Las motores de última generación, necesitan de la constante evolución de desarrollo de
                             juntas
                             que
                             resistan las altas presiones y temperaturas.
                             Juntas Ciccarelli tiene la solución para cada uno de estos problemas.</span>
                     </div>
                     <div class="juntasimg">
                         <img class="juntas4img" src="/images/juntas-8.jpg" alt="">
                         <!--                   <img src="/images/juntas-foto3.jpg" alt="">
 -->
                     </div>
                 </div>
             </div>

        </div>
       

<<<<<<< HEAD
          <div class="juntascontainer" id="narso">
              <div class="juntasdescription">
                  <h3>Juntas Narso (Asbestos Free)</h3>
                  <span>La junta de tapa de cilindros proporciona un sellado estático de los pasajes de gases, líquido
                      refrigerante, aceite lubricante y combustibles, en los motores de combustión interna, cajas de
                      velocidades y transmisiones.
                      Gases y presiones que están en alrededor de 60Kg/cm2 en motores nafteros y en 158Kg/cm2 en motores
                      diésel.
                      Debido a la presión efectuada en el montaje, el material se adapta y corrige de manera óptima las
                      imperfecciones del block y de la tapa de cilindros, que junto con el coating de silicona garantiza
                      el sellado perfecto.

                      Las motores de última generación, necesitan de la constante evolución de desarrollo de juntas que
                      resistan las altas presiones y temperaturas.
                      Juntas Ciccarelli tiene la solución para cada uno de estos problemas.</span>
              </div>

              <div class="juntasimg">
                  <img class="juntas4img" src="/images/juntas-8.jpg" alt="">
                  <img src="/images/juntas-foto3.jpg" alt="">

              </div>

          </div>

=======
          
 
>>>>>>> 97276a9366f8b0d5435287aeea9c8b254d9e0480

    </main>

    <%- include('./partials/footer'); %>


    <%- include('./partials/scripts'); %>

</body>

</html>