<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/nav'); %>
<main>

    <div class="headernoticias">


        <div class="containerheaderinfo">
            <div class="volanta">
                
                <span class="cat" style="font-weight:bold; padding:3px 7px ">Ciccarelli</span>
                <% if (noticia.fecha) { %>
                    <span class="date"> <%= noticia.fecha %> </span>
                                 <% } %>
            
            </div>
            
            <b> <%= noticia.titulo %>
            </b>

            <p style="font-size: 24px;"> <%= noticia.subtitulo %> </p>

        </div>         
      
    </div>

    <section class="cuerponoticia">

        <div class="noticiacontainer">
            <% if (noticia.imagen) { %>
                <div class="containernoticia">
                 <img src="/images/noticias/<%= noticia.imagen %> " alt="" width="100%">
            
                </div>    
            <% } %>
    
            <span ><%= noticia.descripcion %>
    
            </span>
        
        </div>

     

    </section>


</main>

    <%- include('./partials/footer'); %>


    <%- include('./partials/scripts'); %>

</body>

</html>