<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/nav'); %>
<main>



 <h4 style="margin-left: 50px; margin-top: 10px;">NOTICIAS</h4>
 
 <div class="containernoticias">
     

    <% noticia.forEach(noticia => { %>
        
    <article class="module-news">
        <a href="/noticias/:id/">

        <div class="volanta">
            
            <span class="cat">TC</span>
            
            <span class="date"><%= noticia.updatedAt %> </span>
        </div>
        
        <h2><%= noticia.titulo %> </h2>
        <div class="imgcardnoticia">
            <img src="/images/noticias/noticiapng.jpg" alt="">
        </div>
        <p><%= noticia.descripcion %></p>
    </a>
    </article>

    <% }) %>


 </div>




    
</main>

    <%- include('./partials/footer'); %>


    <%- include('./partials/scripts'); %>

</body>

</html>