<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/nav'); %>
<main>



 <h4 style="margin-left: 50px; margin-top: 10px;">NOTICIAS</h4>
 
 <div class="containernoticias">
     
    <article class="module-news">
        <a href="/noticias/1/">

        <div class="volanta">
            
            <span class="cat">TC</span>
            
            <span class="date">09 MAR /</span>
            <span class="time"> 10:38</span>
        </div>
        
        <h2>Comunicado 08/2022</h2>
        <p>La comisión asesora y fiscalizadora de la ACTC emitió un comunicado luego de la reunión llevada a cabo en el día de hoy.</p>
    </a>
    </article>

    
    <article class="module-news">
        <a href="#">

        <div class="volanta">
            
            <span class="cat">TC</span>
            
            <span class="date">09 MAR /</span>
            <span class="time"> 10:38</span>
        </div>
        
        <h2>Comunicado 08/2022</h2>
        <p>La comisión asesora y fiscalizadora de la ACTC emitió un comunicado luego de la reunión llevada a cabo en el día de hoy.</p>
    </a>
    </article>

    
    <article class="module-news">
        <a href="#">

        <div class="volanta">
            
            <span class="cat">TC</span>
            
            <span class="date">09 MAR /</span>
            <span class="time"> 10:38</span>
        </div>
        
        <h2>Comunicado 08/2022</h2>
        <p>La comisión asesora y fiscalizadora de la ACTC emitió un comunicado luego de la reunión llevada a cabo en el día de hoy.</p>
    </a>
    </article>




 </div>




    
</main>

    <%- include('./partials/footer'); %>


    <%- include('./partials/scripts'); %>

</body>

</html>