<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
  <%- include('./partials/header'); %>
  <%- include('./partials/nav'); %>
  <main style="padding: 100px 0 0;">

    <div class="newsletterscards containerproductdetail" style="align-items: flex-start;">

      <div class="imgproductdetail"style="WIDTH: 66%;">
        <div class="containerimg"style="height: auto;">
          <img src="/images/productos/<%= producto.image %> " alt="">
        </div>
      </div>

      <div class="containerinfoproduct"style="WIDTH: 33%;padding: 20px;">

        <span class="titlecard f3 az fwxb"><%= producto.nombre %></span>

        <div class="textproducts">
          <span><%= producto.marca %> </span>
          <span><%= producto.modelo %> </span>
          <span><%= producto.motor %> </span>
          <span><%= producto.cilindradas %> </span>
          <span><%= producto.piezas %> </span>
        </div>

      </div>
    </div>



  </main>

  <%- include('./partials/footer'); %>


  <%- include('./partials/scripts'); %>

</body>

</html>