<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/nav'); %>
    <main>
        
        <div class="containerproducts">

            <% producto.forEach(producto => { %>

            <!-- new -->
            <div class="newsletterscards" style="margin: 30px 10px;">
                <a class="cardproductsA" href="/productos/<%= producto.id %>/">

                    <div class="containerimg">
                        <img src="/images/productos/<%= producto.image %> " alt="">
                    </div>
                    <span class="titlecard f3 az fwxb"><%= producto.nombre %></span>
                    <div class="textproducts">
                        <span>
                            <span style="font-weight: bold;">MODELOS:</span>
                            <%= producto.modelo %>
                        <span style="font-weight: bold;">MOTOR: </span><%= producto.motor %> 
                        <span style="font-style: italic;"><%= producto.cilindradas %> </span>
                        <!-- <span><%= producto.piezas %> </span> -->
                    </div>
                </a>

            </div>

            <% }) %>


        </div>





    </main>

    <%- include('./partials/footer'); %>


    <%- include('./partials/scripts'); %>

</body>

</html>