<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
  <%- include('./partials/header'); %>
  <%- include('./partials/nav'); %>
  <main>

    <div class="containerproductdetail">

      <div class="imgproductdetail">
        <div class="containerimg">
          <img src="/images/productos/<%= producto.image %> " alt="">
        </div>
      </div>

      <div class="containerinfoproduct">

        <span class="titlecard f3 az fwxb"><%= producto.nombre %></span>

        <div class="textproducts">
          <span><%= producto.marca %> </span>
          <span><%= producto.modelo %> </span>
          <span><%= producto.motor %> </span>
          <span><%= producto.cilindradas %> </span>
          <span><%= producto.piezas %> </span>
        </div>

      </div>
    </div>



  </main>

  <%- include('./partials/footer'); %>


  <%- include('./partials/scripts'); %>

</body>

</html>