<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/nav'); %>
<main>
    <div class="banner">
        <img src="/images/banner-infotecnica2.jpg" alt="">
    </div>

    <div class="article_content">
        <span class="article_icon"><i class="fa fa-thumb-tack"></i></span>
                                


                
                                               
                                                <div class="introText">
                    <p><img src="/images/titulo-infotecnica.png" alt=""></p>
<p><a href="/images/Productosciccarelli2015.pdf" target="_blank" rel="alternate"><img src="/images/descarga1.jpg" alt=""></a><a href="/images/ManualdeTORQUE.pdf" target="_blank" rel="alternate"><img src="/images/descarga2.jpg" alt=""></a><a href="/Lamina-de-daños-en-juntas-JUNTAS_CICCARELLI.pdf" target="_blank" rel="alternate"><img src="/images/descarga3.jpg" alt=""></a></p>
<p>&nbsp;</p>
<p><span style="font-size: 12pt;"><strong>Pasos a Seguir para visualizarlo correctamente</strong><br><br><br>Debe tener instalado en su pc el Winzip para poder descomprimir el archivo bajado. Si no lo posee, descárguelo desde aqui e instálelo previamente: (Winzip90.exe) (<a href="http://www.winzip.com" rel="alternate">www.winzip.com</a>)<br><br>Una vez que haya descargado deberá Descomprimirlo para poder visualizarlo. <br><br>Para esto, debe seleccionar el archivo desde donde lo haya guardado, hacer click derecho con el mouse y seleccionar: "Extract Here" ó "Extraer Aquí".<br><br>Si tiene algún inconveniente no dude en contactarnos a: <script type="text/javascript">

 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy65266 = '&#105;nf&#111;' + '&#64;';
 addy65266 = addy65266 + 'c&#105;cc&#97;r&#101;ll&#105;' + '&#46;' + 'c&#111;m' + '&#46;' + '&#97;r';
 var addy_text65266 = '&#105;nf&#111;' + '&#64;' + 'c&#105;cc&#97;r&#101;ll&#105;' + '&#46;' + 'c&#111;m' + '&#46;' + '&#97;r';
 document.write('<a ' + path + '\'' + prefix + ':' + addy65266 + '\'>');
 document.write(addy_text65266);
 document.write('<\/a>');
  </script><a href="mailto:info@ciccarelli.com.ar">info@ciccarelli.com.ar</a><script type="text/javascript">
 
 document.write('<span style=\'display: none;\'>');

 </script><span style="display: none;">This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">

 document.write('</');
 document.write('span>');

 </script></span></span></p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>                </div>
                            
        </div>
    
    
</main>

    <%- include('./partials/footer'); %>


    <%- include('./partials/scripts'); %>

</body>

</html>

<!-- Falta terminar, en la pagina los links en realidad son PNGS, hay que ver como encarar eso -->