<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/nav'); %>

    <main>
        <div class="banner">
            <img src="/images/banner.jpg" alt="">
        </div>
        <section class="snsection">
            <div class="sncontainer">
                <div class="sn_title">
                    <h2>Sobre nosotros</h2>
                </div>


                <div class="article_content">

                    <img class="sntitleimg" src="/images/titulo-historia.png" alt="">


                    <div class="introText">
            
                        <p>
                            <span><strong>VISIÓN</strong></span><span>Liderar el Mercado en Soluciones de Autopartes
                                de Motor, obteniendo una rentabilidad adecuada.</span>
                                <span><strong>MISIÓN</strong></span>
                                <span>Fabricar y distribuir autopartes de motor brindando calidad y servicio de acuerdo a las expectativas del mercado.</span>
                            
                            <span><strong>JUNTAS CICCARELLI</strong> opera en el mercado Nacional desde el año 1937, fundada por don
                                Humberto Gabriel Ciccarelli, pionero de la Industria Autopartista
                                Argentina.</span><span>En sus comienzos, la fabricación
                                de Juntas era un trabajo enteramente artesanal, donde primaba la habilidad individual de
                                quien ejecutaba las tareas. A través del tiempo, se fue incorporando paulatinamente la
                                tecnología de los países desarrollados, para llegar a la actualidad, donde el desarrollo
                                de materiales y procesos nos ubican a la vanguardia en calidad y productividad en la
                                fabricación de Juntas para automotores.</span><span>La
                                presencia constante de <strong>Juntas Ciccarelli</strong> en la Industria Automotriz
                                Argentina, a través de toda su trayectoria, hacen posible que hoy estemos presente con
                                nuestros productos en las filiales que éstas poseen en todo el
                                mundo.</span><span>En el año 1995 hemos decidido
                                incorporar el Mercado de Reposición a nuestra comercialización, entregando en éste los
                                mismos productos con los que se abastece a las Terminales Automotrices. La constante
                                calidad de nuestros productos y nuestra trayectoria de más de 80 años en el mercado
                                nacional e internacional, la integración en la elaboración de materias primas los
                                exigentes controles de calidad, la constante investigación sobre nuevos materiales y la
                                adopción de las Normas ISO 9001/2008 para la Gestión Total de Calidad nos avalan y
                                garantizan la perfecta funcionabilidad de cada uno de nuestros productos, para
                                satisfacción del mercado automotriz.</span><span>A la
                                vanguardia con las normas internacionales de preservación del Medio Ambiente,
                                <strong>Juntas Ciccarelli</strong> ha desarrollado productos con materiales libres de
                                asbestos (NON ASBESTOS - ASBESTOS FREE), cuya utilización es obligatoria en los países
                                del Primer Mundo.</span></p>
                
                    </div>

                    <div>
                        <img class="snimg" src="/images/CICCARELLI-logo-80-aos-02.jpg" alt="">
                    </div>

                </div>
            </div>
        </section>

    </main>

    <%- include('./partials/footer'); %>


    <%- include('./partials/scripts'); %>

</body>

</html>