<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

<body>
    <%- include('../partials/navAdmin'); %>
    <main>

        <div class="container">

            <div>
                <span>Estas editando la noticia <b><%= noticia.titulo %> </b></span>
            </div>

            <div class="formcontainer">
                <form action="/admin/editar/noticia/<%= noticia.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="inputform">
                        <input type="text" placeholder="Titulo de noticia" name="titulo" 
                        value="<%= locals.old ? old.name : noticia.titulo %>">
                        <% if (typeof errors != 'undefined' && errors.titulo ) { %>
                        <small class="error"><%= errors.titulo.msg %></small>
                        <% } %>
                    </div>

                    <div class="inputform">
                        <input type="text" placeholder="Subtitulo" name="subtitulo"
                        value="<%= locals.old ? old.subtitulo : noticia.subtitulo %>" >
                        <% if (typeof errors != 'undefined' && errors.subtitulo ) { %>
                        <small class="error"><%= errors.subtitulo.msg %></small>
                        <% } %>
                    </div>

                    <div class="inputform">
                        <input type="text" placeholder="Descripcion" name="descripcion"
                        value="<%= locals.old ? old.descripcion : noticia.descripcion %>" >
                        <% if (typeof errors != 'undefined' && errors.descripcion ) { %>
                        <small class="error"><%= errors.descripcion.msg %></small>
                        <% } %>
                    </div>

                    <div class="inputform">
                        <input type="file" name="image" aria-label="file example" multiple>
                        <% if (typeof errors != 'undefined' && errors.image ) { %>
                        <small class="error"><%= errors.image.msg %></small>
                        <% } %>
                    </div>

                    <button type="submit">Editar noticia</button>



                </form>
            </div>


        </div>
    </main>

    <%- include('../partials/footer'); %>


    <%- include('../partials/scripts'); %>

</body>

</html>